.App {
  text-align: center;
}

body {
  background-image: url(/public/pokedex.jpg);
  background-repeat: no-repeat;
  background-size: 100% 42em;
}

header {
  text-align: center;
}

.pokemon {
  align-items: center;
  background-color: rgb(255, 255, 255, 0.60);
  border: 2px black solid;
  border-radius: 10px;
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 30%;
  margin: 10px 10px;
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}